// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}

p {
  font-size: .8rem !important; 
}

body {
  font-size: .8rem !important; 
}

h1 {
  font-size: 5rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: .65rem !important;
  font-weight: 600 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

// Custom horizontal rules
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

// Skill Tags
.label {
  color: white;
  padding: 8px;
  line-height: 38px;
}

.in-demand {background-color: $lightblue;}
.niche {background-color: $darkblue;}

// Button restyling
.btn {
  font-family: $font-family-sans-serif;
  letter-spacing: 2px;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.page-section {
  padding: 6rem 0;
}

.page-section_portfolio {
  padding-top: 3rem;
}

.bg-pattern {
  background-image: url('../img/Header-bg-pattern.jpg') !important;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center;
}

// Footer padding

.py-5 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}