#skills {
  .skills-container-fluid {
      
      .skills-box {
        position: relative;
        display: block;
        padding: 60px;
        .skills-box-caption {
          display: flex;
          align-items: center;
          justify-content: left;
          flex-direction: column;
  
          width: 100%;
          height: 100%;
  
          position: absolute;
          bottom: 0;
  
          text-align: center;
          opacity: 0;
  
          color: $white;
          background: fade-out($primary, .1);
          transition: opacity 0.25s ease;
          text-align: center;
          .skills-category {
            font-family: $font-family-sans-serif;
            font-size: 0.85rem;
            font-weight: 600;
            text-transform: uppercase;
          }
          .project-name {
            font-family: $font-family-sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
          }
          .portfolio-box-p{
            text-align: left;
            margin-left: 10px;
          }
          .portfolio-list-item {
            text-align: left;
          }
        }
        &:hover {
          .portfolio-box-caption {
            opacity: 1;
            text-align: left;
            margin: 10px,10px,10px,10px;
            padding: 30px;
          }
        }
      }
  }
}