// Variables

// Color overrides

// Set a custom color
$blue: #174AE7 !default;
$brown: #5c4d42 !default;
$newcolor: #070811 !default;
$lightblue: #3C66EB !default;
$darkblue: #002FBF !default;

// Set primary color to orange
$primary: $blue !default;
$dark: $newcolor !default;

// Font overrides
$font-family-sans-serif: "AvenirNext", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: 'Source Code Pro', monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
